<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masterpiece</title>
</head>

<body>

    <h1>Mike Patton's Masterpieces</h1>
    <ul>
        <% masterpieces.forEach(masterpiece=> { %>
            <li>
                <a href="/masterpieces/<%=masterpiece.id %>">
                    <p><%=masterpiece.band %></p>
                        <p><%=masterpiece.title %></p>
                            <p><%=masterpiece.year %></p>
                                <p><%=masterpiece.description %></p>
                                    <img src="<%=masterpiece.img %>">
                </a>
                <form action="/masterpieces/<%= masterpiece.id %>?_method=DELETE" method="POST"
                    style="display:inline; margin-left: 12px;">
                    <input type="submit" value="DELETE">
                </form>
                <a href="/masterpieces/<%=masterpiece.id %>/edit">Edit</a>
            </li>

            <% }) %>
    </ul>
    <nav>
        
        <a href="/masterpieces/new">Add New Masterpiece</a>
    </nav>
</body>

</html>