<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/masterpieces">Back to Collection of Masterpieces</a>
    </nav>
    <h1><%= masterpiece.title %></h1>
    
    Band: <%= masterpiece.band%>
    
    Title: <%= masterpiece.title%>
    
    Year: <%= masterpiece.year%>
    
    Description: <%= masterpiece.description%>
    
    Img: <%= masterpiece.img%>
    
    <!-- Binged: <%= masterpiece.binged %> -->
</body>
</html>